[Unit]
Description=100news Crypto Tweets Analyzer Service
After=network.target mysql.service

[Service]
Type=simple
User=elcrypto
Group=elcrypto
WorkingDirectory=/opt/100news
ExecStart=/bin/bash /opt/100news/100news_wrapper.sh
Restart=always
RestartSec=60
Environment="VIRTUAL_ENV=/opt/100news/venv"
# Если используете virtualenv, добавьте строку ниже
# Environment="VIRTUAL_ENV=/path/to/virtualenv"

[Install]
WantedBy=multi-user.target